.heading {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
}
.portfolio-head {
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
}

.section-portfolio {
    display: flex;
    flex-wrap: wrap;
    padding-top: 72px;
    gap: 24px;
    row-gap: 48px;
}

.portfolio-content {
    border-bottom: 1px solid #E7E9FC;
    border-right: 1px solid #E7E9FC;
    border-left: 1px solid #E7E9FC;
    padding: 32px 16px;
}

.img-portfolio {
    display: block;
}

.portfolio-png {
    width: calc((100% - 48px) / 3);
}